<div ng-controller='AnswersController as AC' ng-init="QC.find();AC.index()">
  <a href="#!/main">Home</a>
  <a href="#!/question/{{QC.question._id}}/answer">Answer this Question</a>
  <h3>{{QC.question.question}}</h3>
  <h5>{{QC.question.description}}</h5>
  <div ng-repeat="answer in QC.question.answers | orderBy:'likes'">
    <h4>{{answer.author}} Answered:</h4>
    <h5>{{answer.answer}}</h5>
    <strong>Detail:</strong>{{answer.details}}<br>
    {{answer.likes}} likes
    <button ng-click='QC.like(answer._id)'>Like!</button>
  </div>
</div>
